@font-face {
  font-family: "PT Sans Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff") format("woff");
  src: url("../fonts/ptsans.woff2") format("woff2") ;
}
@font-face {
  font-family: "PT Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans.woff") format("woff");
  src: url("../fonts/ptsansbold.woff2") format("woff2");
}

body{
  margin: 0;
  padding: 0;
  width: 1200px;
  font-family: "PT Sans Regular", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;

  width: 1200px;
}
a{
  text-decoration: none;
}

.main-menu{
  display: flex;

  width: 1056px;
}
.main-header-logo{
  width: 135px;
  height: 70px;
}
.site-navigation{
  font-family: "PT Sans Bold", Arial, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.site-navigation a{
  color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus{
  color: #81b3d2;
}
.site-navigation a:active{
  color: #cacaca;
}
.intro{
  height: 510px;
  background-color: #4b7494;
  background-image:
  url("../img/intro-mask-bg.png"),
  url("../img/intro-bg.jpg");
  background-size:
  contain,
  cover;
  background-position:
  left 0 bottom 0,
  center center;

  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;



}
.intro-top{
  width: 188px;
  height: 45px;
  background-image: url("../img/intro-welcome-bg.png");
  background-repeat: no-repeat;
}
.intro-gorgeous{
  width: 175px;
  height: 30px;
  background-image: url("../img/intro-gorgeous-bg.png");
  background-repeat: no-repeat;
}
.intro-middle{
  width: 460px;
  height: 80px;
  background-image: url("../img/intro-sedona-bg.png");
  background-repeat: no-repeat;
}
.intro-bottom{
  width: 300px;
  height: 80px;
  background-image: url("../img/intro-because-bg.png");
  background-repeat: no-repeat;
}

.intro-content{
  text-align: center;
}
.intro-content b{
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
}
.promo-top{
  background-color: #81b3d2;
  display: flex;
}
.promo-top-left{
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
}
.promo-top-left h3{
  font-size: 21px;
  font-family: "PT Sans Bold", Arial, sans-serif;
}
.promo-top-right{
  width: 800px;
  height: 255px;
  background-image: url("../img/promo-top-right-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.features-list{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.features-item{
  text-align: center;
  line-height: 21px;
  width: 400px;
}
.features-item h3{
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
}

.features-item:nth-child(1){
  background-image: url("../img/features-item-icon-1.svg");
  background-repeat: no-repeat;
  background-position: 100 100;
}
.features-item:nth-child(2){
  background-image: url("../img/features-item-icon-2.svg");
  background-repeat: no-repeat;
  background-position: 100 100;
}
.features-item:nth-child(3){
  background-image: url("../img/features-item-icon-3.svg");
  background-repeat: no-repeat;
  background-position: 100 100;
}
.promo-bottom{
  background-color: #81b3d2;
  display: flex;
}
.promo-bottom-left{
  width: 800px;
  height: 255px;
  background-image: url("../img/promo-bottom-left-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.promo-bottom-right{
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
}
.promo-bottom-right h3{
  font-size: 21px;
  font-family: "PT Sans Bold", Arial, sans-serif;
}
.promo-bottom-features{
  background-color: #eeeeee;
}
.promo-bottom-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.bottom-list-items{
  line-height: 21px;
  text-align: center;
}
.bottom-list-items h3{
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
}
.search-top-content{
  text-align: center;
  line-height: 24px;
}
.search-top-content b{
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
}
.top-content-button{
  text-align: center;
  font-family: "PT Sans Bold", Arial, sans-serif;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  background-color: #766357;
}
.top-content-button:hover,
.top-content-button:focus{
  background-color: #604e43;
}
.top-content-button:active{
  background-color: #503e33;
  color: #928a85;
}
.search-form{
  font-family: "PT Sans Bold", Arial, sans-serif;
}
.search-form input{
  font: inherit;
  border: none;
  background-color: #f2f2f2;
}
::-webkit-input-placeholder{
  font-family: "PT Sans Bold", Arial, sans-serif;
  text-transform: uppercase;
  color: #000000;
}
.search-form input:hover
{
  background-color: #ebebeb;
}
.search-form input:focus{
  background-color: #ffffff;
}
.search-form-button{
  text-decoration: none;
  text-align: center;
  font-family: "PT Sans Bold", Arial, sans-serif;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
}
.search-form-button:hover,
.search-form-button:focus{
  background-color: #669ec0;
}
.search-form-button:active{
  background-color: #5496bd;
  color: #94b9d2;
}
.search-map{
  height: 473px;
  background-image: url("../img/search-map-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-hashtag a{
  text-decoration: none;
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.main-footer{
  display: flex;
}
.main-footer ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.social-button{
  text-decoration: none;
}
.site-navigation .site-navigation-current{
  color: #766357;
}
.hotel-options{
  background-image: url("../img/hotel-options-bg.jpg");
  background-position: center center;
  background-size: cover;
  color: #fff;
}
.hotel-options-form{
  display: flex;
}
.hotel-options-form fieldset{
  border: none;
}
.hotel-options-form ul{
  list-style: none;
  font-family: "PT Sans Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
}
.hotel-options-form legend{
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
}
.options-form-button{
  font-family: "PT Sans Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  background: none;
}
.options-form-button:hover,
.options-form-button:focus{
  background-color: #ffffff;
  color: #000000;
}

.sorting-menu{
  display: flex;
  font-size: 12px;
  line-height: 18px;
}
.sorting-menu b{
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
}
.sorting-left-list{
  margin: 0;
  padding: 0;
  display: flex;
}
.sorting-right-list{
  margin: 0;
  padding: 0;
  display: flex;
}
.sorting-menu-item{
  list-style: none;
}
.sorting-right-list{
  list-style: none;
}
.sorting-button{
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}
.sorting-button:hover,
.sorting-button:focus{
  color: #81b3d2;
}
.sorting-button:active{
  color: #000000;
  border-bottom: none;
}
.sorting-button-current{
  color: #81b3d2;
  border-bottom: none;
}
.result-list{
  list-style: none;
  line-height: 21px;
}
.result-item{
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.result-item-caption{
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.result-item-caption:hover,
.result-item-caption:focus{
  color: #81b3d2;
}
.result-item-caption:active{
  color: #cacaca;
}
.result-list-button{
  font-family: "PT Sans Bold", Arial, sans-serif;
  color: #ffffff;
  background-color: #81b3d2;
}
.result-list-button:hover,
.result-list-button:focus{
  background-color: #669ec0;
}
.result-list-button:active{
  background-color: #5496bd;
  color: #94b9d2;
}
.button-right{
  background-color: #766357;
}
.button-right:hover,
.button-right:focus{
  background-color: #604e43;
}
.button-right:active{
  background-color: #503e33;
  color: #928a85;
}
.rating{
  background-color: #f2f2f2;
}
