@font-face {
  font-family: "PT Sans Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff") format("woff");
  src: url("../fonts/ptsans.woff2") format("woff2") ;
}

@font-face {
  font-family: "PT Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans.woff") format("woff");
  src: url("../fonts/ptsansbold.woff2") format("woff2");
}

*, *::before, *::after{
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
}

body{
  width: 100%;
  font-family: "PT Sans Regular", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header{
  position: relative;
}
.main-menu{
  display: flex;
  min-height: 57px;
  width: 1056px;
  margin: 0 73px;
}
.container{
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 12px 10px #e1e1e1;
  background-color: #ffffff;
}
.main-header-logo{
  width: 135px;
  height: 70px;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}
.site-navigation{
  font-family: "PT Sans Bold", Arial, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.site-navigation li{
  width: 128px;
}
.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2){
  text-align: left;
}
.site-navigation li:nth-child(2){
  margin-left: 112px;
}
.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4){
  text-align: right;
}
.site-navigation li:nth-child(3){
  margin-left: auto;
}
.site-navigation li:nth-child(4){
  margin-right: 4px;
  margin-left: 110px;
}
.site-navigation-link{
  display: block;
  vertical-align: middle;
  padding-top: 15px;
  padding-bottom: 10px;
  color: #000000;
}
.site-navigation-link:hover,
.site-navigation-link:focus{
  color: #81b3d2;
}
.site-navigation-link:active{
  color: #cacaca;
}
.intro{
  height: 510px;
  background-color: #4b7494;
  background-image:
  url("../img/intro-mask-bg.png"),
  url("../img/intro-bg.jpg");
  background-size:
  contain,
  cover;
  background-position:
   0 bottom,
   0 -80px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 88px;
  position: relative;

}
.intro-top{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 188px;
  height: 45px;
  background-image: url("../img/intro-welcome-bg.png");
  background-repeat: no-repeat;
}
.intro-gorgeous{
  margin-top: 5px;
  margin-bottom: auto;
  width: 175px;
  height: 30px;
  background-image: url("../img/intro-gorgeous-bg.png");
  background-repeat: no-repeat;
}
.intro-gorgeous::before{
  content: "";
  display: block;
  background-color: #766357;
  width: 29px;
  height: 2px;
  position: absolute;
  top: 144px;
  left: 472px;
}
.intro-gorgeous::after{
  content: "";
  display: block;
  background-color: #766357;
  width: 29px;
  height: 2px;
  position: absolute;
  top: 144px;
  right: 472px;
}
.intro-middle{
  width: 460px;
  min-height: 80px;
  background-image: url("../img/intro-sedona-bg.png");
  background-repeat: no-repeat;
  margin-bottom: auto;
}
.intro-bottom{
  width: 300px;
  height: 80px;
  background-image: url("../img/intro-because-bg.png");
  background-repeat: no-repeat;
}


.intro-content{
  text-align: center;
  padding-top: 57px;
  padding-bottom: 38px;

}
.intro-content b{
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
}
.intro-content p{
  margin-top: 22px;
}


.promo-top{
  background-color: #81b3d2;
  display: flex;
}

.promo-top-left{
  width: 400px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  padding: 26px 65px 46px 62px;
}
.promo-top-left h3{
  font-size: 21px;
  font-family: "PT Sans Bold", Arial, sans-serif;
}
.promo-top-left p{
  margin-top: 23px;
}
.promo-top-right{
  width: 800px;
  height: 255px;
  background-image: url("../img/promo-top-right-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -77px;
}
.features-list{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 330px;
}
.features-item{
  text-align: center;
  line-height: 21px;
  width: 400px;

}
.features-item h3{
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  margin-top: 161px;
}
.features-item p{
  margin-top: 25px;
}
.features-item:nth-child(1){
  background-image: url("../img/features-item-icon-1.svg");
  background-repeat: no-repeat;
  background-position: 162px 61px;
}
.features-item:nth-child(2){
  background-image: url("../img/features-item-icon-2.svg");
  background-repeat: no-repeat;
  background-position: 162px 60px;
}
.features-item:nth-child(3){
  background-image: url("../img/features-item-icon-3.svg");
  background-repeat: no-repeat;
  background-position: 167px 55px;
}
.promo-bottom{
  background-color: #81b3d2;
  display: flex;
  min-height: 255px;
}
.promo-bottom-left{
  width: 800px;
  height: 255px;
  background-image: url("../img/promo-bottom-left-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -74px;
}
.promo-bottom-right{
  width: 400px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  padding: 25px 60px 45px 60px
}
.promo-bottom-right h3{
  font-size: 21px;
  font-family: "PT Sans Bold", Arial, sans-serif;
}
.promo-bottom-right p{
  margin-top: 21px;
}
.promo-bottom-features{
  background-color: #eeeeee;

  min-height: 255px;
}
.promo-bottom-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.bottom-list-items{
  line-height: 21px;
  text-align: center;
  width: 400px;
  padding-top: 28px;
  padding-left: 3px;
}

.bottom-list-items h3{
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
}
.bottom-list-items p{
  margin-top: 24px;
}
.search-top-content{
  text-align: center;
  line-height: 24px;
}
.search-top-content b{
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
}
.top-content-button{
  text-align: center;
  font-family: "PT Sans Bold", Arial, sans-serif;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  background-color: #766357;
  display: inline-block;
  margin-top: 32px;
  padding: 30px 140px;
}
.top-content-button:hover,
.top-content-button:focus{
  background-color: #604e43;
}
.top-content-button:active{
  background-color: #503e33;
  color: #928a85;
}
.search{
  position: relative;
}
.search-top-content{
  padding-top: 54px;
}
.search-top-content p{
  margin-top: 23px;
}
.search-form{
  font-family: "PT Sans Bold", Arial, sans-serif;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  padding-top: 45px;
  padding-left: 58px;
  padding-bottom: 56px;
}
.search-form label{
 display: inline-block;

}
.search-form input{
  font: inherit;
  border: none;
  background-color: #f2f2f2;
  box-sizing: border-box;
  width: 350px;
  height: 38px;
  margin-left: 30px;
  padding-left: 10px;

}
input:not([name*="count"]){
  padding-left: 5px;
}
input[name*="count"]{
  margin-left: 37px;
  margin-right: 42px;
  width: 116px;
  text-align: center;
}
.search-form-item:nth-child(1){
  margin-top: 10px;
  position: relative;
}
.search-form-item:nth-child(1) .calendar-icon{
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 8px;
  right: 24px;
}
.calendar-icon path,
.calendar-icon rect{
  fill: #a9a9a9;
}
.calendar-icon:hover path,
.calendar-icon:hover rect,
.calenar-icon:focus path,
.calenar-icon:focus rect{
  fill: #000000;
  cursor: pointer;
}
.calendar-icon:active path,
.calendar-icon:active rect{
  fill: #81b3d2;
}
.search-form-item:nth-child(2){
  margin-top: 16px;
  position: relative;
}
.search-form-item:nth-child(2) .calendar-icon{
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 7px;
  right: 28px;
}
.search-form-item:nth-child(3){
  margin-top: 15px;
  position: relative;
}
.minus-icon,
.plus-icon{
  color: #a9a9a9;
  position: absolute;
  z-index: 1;
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
}
.minus-icon:hover,
.plus-icon:hover,
.minus-icon:focus,
.plus-icon:focus{
  color: #000000;
}
.minus-icon:active,
.plus-icon:active{
  color: #81b3d2;
}

.minus-adult{
  left: 120px;
  top: 5px;
}
.plus-adult{
  right: 281px;
  top: 5px;
}
.minus-kids{
  right: 125px;
  top: 5px;
}
.plus-kids{
  right: 48px;
  top: 6px;
}
::-webkit-input-placeholder{
  font-family: "PT Sans Bold", Arial, sans-serif;
  text-transform: uppercase;
  color: #000000;
}
.search-form input:hover
{
  background-color: #ebebeb;
}
.search-form input:focus{
  background-color: #ffffff;
}
.search-form-button{
  text-decoration: none;
  text-align: center;
  font-family: "PT Sans Bold", Arial, sans-serif;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  display: inline-block;
  padding: 15px 195px;
  margin-top: 40px;

}
.search-form-button:hover,
.search-form-button:focus{
  background-color: #669ec0;
}
.search-form-button:active{
  background-color: #5496bd;
  color: #94b9d2;
}
.search-map{
  height: 473px;
  background-image: url("../img/search-map-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-footer{
  display: flex;
  min-height: 120px;
  justify-content: space-between;
  padding: 35px 100px 35px 130px
}
.footer-hashtag{
  margin-top: 9px;
  padding: 0;
}
.footer-hashtag a{
  text-decoration: none;
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.footer-social{
  width: 170px;
}

.main-footer ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-left: 33px;
}
.footer-copyright{
  margin: 0;
  padding: 0;
}
.footer-copyright span{
  display: inline-block;
  margin-top: 10px;
  vertical-align: top;
}

.social-button{
  text-decoration: none;
  width: 46px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81b3d2;
  margin-right: 5px;
}
.social-button:hover,
.social-button:focus{
  background-color: #669ec0;
}
.social-button:active,
.social-button:active path{
  background-color: #5496bd;
  fill: #88b6d1;
}
.copyright-logo {
  display: inline-block;
  width: 118px;
  height: 55px;
}
.copyright-logo:hover path,
.copyright-logo:focus path{
  fill: #81b3d2;
}
.copyright-logo:active path{
  fill: #bdbbbc;
}
.site-navigation .site-navigation-current{
  color: #766357;
}
.hotel-options{
  min-height: 220px;
  background-image: url("../img/hotel-options-bg.jpg");
  background-position: center center;
  background-size: cover;
  color: #fff;
}
.hotel-options-form{
  display: flex;
  justify-content: space-between;
  padding: 26px 58px 0px 76px;
  box-sizing: border-box;
}
.hotel-options-form fieldset{
  border: none;
  margin: 0;
  padding: 0;
}
.hotel-options-form fieldset:nth-child(1){
  margin-right: 117px;
}
.hotel-options-form fieldset:nth-child(2) {
    margin-right: auto;
}
.hotel-options-form fieldset:nth-child(3){
  margin-right: 70px;
}
.hotel-options-form ul{
  list-style: none;
  font-family: "PT Sans Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.hotel-options-item{
  margin-bottom: 20px;
}
.hotel-options-item:last-child{
  margin-bottom: 0;
}

input[type="checkbox"] + label::before{
  content: "";
  background-image: url(../img/hotel-options-checkbox-off.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
input:checked + label::before{
  background-image: url(../img/hotel-option-checkbox-on.svg);
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;

}
input:disabled + label::before{
  background-image: url(../img/checkbox-off-disable.svg);
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
}
input:checked:disabled + label::before{
  background-image: url(../img/checkbox-on-disable.svg);
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
}


.hotel-options-item label{
  cursor: pointer;
}

.hotel-options-form legend{
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 15px;
}
.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}
.filter-range-title {
  margin-bottom: 9px;
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
}
.price-controls {
  position: relative;
  font-size: 0;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 150px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  border: 8px solid #ffffff;
  padding: 2px;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  width: 4px;
  height: 4px;
  background-color: #ababab;
}
.range-toggle:hover{
  border: 9px solid #ffffff;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}
.options-form-button{
  font-family: "PT Sans Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  background: none;
  align-self: flex-end;
  display: block;
  padding: 5px 35px;
  margin: 0 auto;

}

.options-form-button:hover,
.options-form-button:focus{
  background-color: #ffffff;
  color: #000000;
}
.search-result{
  min-height: 88px;
}
.sorting-menu{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 18px;
  padding: 30px 73px;
}
.sorting-menu b{
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  margin-right: 50px;
}
.sorting-left{
  display: flex;
  margin-right: auto;
  justify-content: space-between;
}
.sorting-left-list{
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 40px;
  justify-content: space-between;
}
.sorting-right-list{
  margin: 0;
  padding: 0;
  display: flex;
}
.arrow-up{
  margin-right: 10px;
}
.arrow-up,
.arrow-down{
  display: block;
}
.arrow-up polygon{
  fill: #cacaca;
}
.arrow-up:hover polygon,
.arrow-up:focus polygon{
  fill: #231f20;
}
.arrow-up:active polygon{
  fill: #81b3d2;
}
.arrow-active polyline{
  fill: #81b3d2;
}
.arrow-down:hover polyline,
.arrow-down:focus polyline{
  fill: #231f20;
}
.arrow-down:active polyline{
  fill: #81b3d2;
}
.sorting-menu-item{
  list-style: none;
  margin-right: 32px;
}
.sorting-menu-item:last-child{
  margin-right: 0;
}
.sorting-right-list{
  list-style: none;
}
.sorting-button{
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}
.sorting-button:hover,
.sorting-button:focus{
  color: #81b3d2;
}
.sorting-button:active{
  color: #000000;
  border-bottom: none;
}
.sorting-button-current{
  color: #81b3d2;
  border-bottom: none;
}
.result-list{
  list-style: none;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  list-style: none;
  line-height: 21px;
  padding-left: 0;
}
.result-list li{
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  height: 150px;
  padding: 14px 73px 45px 73px;
}
.result-item{
  display: flex;
  justify-content: space-between;
}
.result-item-middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  padding-left: 31px;
}

.result-item h3{
  margin: 0;
}
.result-item p{
  margin-top: auto;
}
.item-buttons{
  margin-bottom: 0;
}
.result-item-caption{
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}
.result-item-caption:hover,
.result-item-caption:focus{
  color: #81b3d2;
}
.result-item-caption:active{
  color: #cacaca;
}
.result-list-button{
  font-family: "PT Sans Bold", Arial, sans-serif;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 5px 15px;
  display: inline-block;
}
.result-list-button:hover,
.result-list-button:focus{
  background-color: #669ec0;
}
.result-list-button:active{
  background-color: #5496bd;
  color: #94b9d2;
}
.button-right{
  background-color: #766357;
}
.button-right:hover,
.button-right:focus{
  background-color: #604e43;
}
.button-right:active{
  background-color: #503e33;
  color: #928a85;
}
.result-item-right{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}
.star-rating{
  height: 17px;
}
.four-star{
  width: 71px;
  background-image: url("../img/result-item-star.svg");
  background-repeat: repeat-x;
}
.three-star{
  width: 54px;
  background-image: url("../img/result-item-star.svg");
  background-repeat: repeat-x;
}
.two-star{
  width: 36px;
  background-image: url("../img/result-item-star.svg");
  background-repeat: repeat-x;
}

.rating{
  background-color: #f2f2f2;
}
.inner-page .main-footer{
  padding: 10px 100px 50px 132px;
}
